{
   :links [
           {
            :id "link-0"
            :description "REMOTE: Prisma turns your database into a GraphQL API"
            :url "https://www.prismagraphql.com"
            }
           {
            :id "link-1"
            :description "REMOTE: The best GraphQL client"
            :url "https://www.apollographql.com/docs/react/"
            }
           ]
   }
